<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap/app.php"
         colors="true"
         stderr="true"
>
    <php>
        <server name="DOCUMENT_ROOT" value="public" />
    </php>
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <directory suffix=".php">./app/Console</directory>
                <directory suffix=".php">./app/Core</directory>
                <directory suffix=".php">./app/Models</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>